<%- include('header') %>
	<% if (result.length) { %>
		<% result.forEach(function (item) { %>
		  	<%- include('commo/post-content', { post: item }) %>
		<% }) %>
	<% } else { %>
		<div style="width: 50%;margin: 40px auto;text-align: center; font-size: 16px;">太懒了，没发表过文章</div>
	<% } %>
<%- include('footer') %>